<link rel="stylesheet" type="text/css" href="/css/layout/header.css">
<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/layout/footer.css">
<link rel="stylesheet" type="text/css" href="/css/font/fontbazzi.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<html>
<body>
<header>
    <div class="alarm-box">
        <div class="alarm-list">
            <div class="sender-profile"></div>
            <div class="sender-nickname"></div>
            <div class="alarm-content"></div>
        </div>
    </div>
    <!-- 알림 박스 (voice-chat 클래스로 지정) -->
    <div class="voice-chat hide">
        <div class="sender-profile" id="sender-profile"></div>
        <div class="sender-nickname" id="sender-nickname">상대방 닉네임</div>
        <div class="button-container">
            <button class="accept-btn" onclick="acceptInvitation()">✔</button>
            <button class="refuse-btn" onclick="declineInvitation()">✘</button>
        </div>
    </div>
    <audio id="alarmSound" src="/audio/calling.mp3"></audio>
    <div class="logo">
        <a href="/"><img src="/image/logo.png"></a>
    </div>
    <div class="school-select">
        <div class="current-school">
            {{!{{current_school.name}}
        </div>
        {{!
        {{#other_school}} {{!TODO 스타일을 disabled로 숨기고 hover로 마우스를 올릴때 뜨게 설계}}
            <div class="other-school" data-id="아이디"> {{!학교 id를 div 속성에 숨겨두기}}
        {{!    {{name}}
            </div>
        {{!{{/other_school}}
    </div>

        
        {{#principal}}

            <div class="nav-area">
                <a id="friendLink" href="#">친구</a>
                <a id="storeLink" href="#">매점</a>
                <a id="noticeLink" href="#">공지</a>
                <a id="messageLink" href="#">쪽지</a>
                <i class="fa fa-bell" id="alarm-icon" style="color: yellow"></i>
                <a href="#">문의</a>
            </div>
        </div>
          <div id="login-btn" class="transition-link" >
            <a href="/logout">Logout</a>
        </div>
        {{/principal}}
        
        {{^principal}}
        
        {{/principal}}

</header>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/layout/header.js"></script>