<!-- Mustache 템플릿 예시 -->
<head>
    <script type="text/javascript" src="/smarteditor/js/HuskyEZCreator.js" charset="utf-8"></script>
    <!-- jQuery 라이브러리 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<h3>Naver SmartEditor</h3>
<form id="boardForm" action="/board/update/{{board.id}}" method="post">
    <div>
        <h3>제목</h3>
        <input type="text" name="title" id="title" value="{{board.title}}" required>
        <input type="hidden" name="school_id" id="school_id" value="{{schoolId}}">
        <input type="hidden" name="user_id" id="user_id" value="{{userId}}">
    </div>
    <div id="smarteditor">
        <textarea name="content_location" id="editorText" rows="20" cols="10" placeholder="내용을 입력해주세요" style="width: 500px">
            {{board.contentLocation}}
        </textarea>
    </div>

    <div>
        <button type="button" onclick="submitPost()">작성하기</button>
    </div>
</form>

    <div>
        <a href="/board/list">돌아가기</a>
    </div>

<script>
    let oEditors = [];

    // 스마트 에디터 초기화 함수
    function smartEditor() {
        nhn.husky.EZCreator.createInIFrame({
            oAppRef: oEditors,
            elPlaceHolder: "editorText", // HTML의 textarea ID와 일치하도록 수정
            sSkinURI: "/smarteditor/SmartEditor2Skin.html",
            fCreator: "createSEditor2"
        });
    }

    // 문서가 준비되면 에디터를 초기화
    $(document).ready(function() {
        smartEditor();
    });

    // 폼 제출 함수
    function submitPost() {
        // 에디터 내용을 <textarea>와 동기화
        oEditors.getById["editorText"].exec("UPDATE_CONTENTS_FIELD", []);
        let content = $("#editorText").val();

        if (content.trim() === '') {
            alert("내용을 입력해주세요.");
            oEditors.getById["editorText"].exec("FOCUS");
            return;
        } else {
            console.log(content);
            // 폼을 제출
            $("#boardForm").submit();
        }
    }
</script>

</body>
