<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 레이아웃</title>
    
    <link rel="stylesheet" type="text/css" href="/css/board/boardMulti.css">

  
</head>

<div class="board-container">
<section class="first-board">
    <div class="board">
        <div class="part-title">조회가 많은 게시글</div>
       
            {{#Search}}
                <a href="/board/detail/{{id}}">
                 <div class="board-item">
                    <div class="item-title">{{title}}</div>
                     <div class="item-createdAt"> {{createdAtFormat}}</div>
                 </div>
                </a>
            {{/Search}}

            {{^Search}}
                <p>게시글이 없습니다.</p>
            {{/Search}}
        
    </div>

    <div class="board">
    
       <div class="part-title">댓글이 많은 게시글</div>
       
            {{#Recomend}}
            <a href="/board/detail/{{id}}">
                <div class="board-item">
                  <div class="item-title"> {{title}}</div>
                    
                    <div class="item-createdAt">{{createdAtFormat}}</div>
                </div>
            </a>
            {{/Recomend}}

            {{^Recomend}}
                <p>게시글이 없습니다.</p>
            {{/Recomend}}
       
    </div>
</section>
<section class="second-board">
    <div class="board">
        <div class="part-title">최신글</div>
        
            {{#createdAt}}
            <a href="/board/detail/{{id}}">
                <div class="board-item">
                  <div class="item-title">  {{title}}</div>
                   <div class="item-createdAt">{{createdAtFormat}}</div>
                </div>
            </a>
            {{/createdAt}}

            {{^createdAt}}
                <p>게시글이 없습니다.</p>
            {{/createdAt}}
        
    </div>

    <div class="board">
        <div class="part-title">하트가 많은 게시글</div>
       
            {{#Heart}}
             <a href="/board/detail/{{id}}">
                <div class="board-item">
                    <div class="item-title">{{title}}</div>
                    <div class="item-createdAt"> {{createdAtFormat}}</div>
                </div>
                </a>
            {{/Heart}}

            {{^Heart}}
                <p>게시글이 없습니다.</p>
            {{/Heart}}
        
    </div>
</section>

</div>

