.mypage-container {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fffaf0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
    border-radius: 15px;
}


.top-blanck {
    display: flex;
    align-items: center;
    background-color: #f0d9b5;
    min-height: 25px;
    border-bottom: 1px solid #e6c6a6;
    font-size: 25px;
    color: #5c4b37;
    font-weight: bold;
}


.top-profile {
    width: 100%;
    padding-bottom: 10px;
    margin-top: 10px;
    color: #5c4b37;
}


.profile-charactor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.charactor-box {
    height: 100px;
    width: 100px;
    background-color: #fff8e1;
    border: 3px solid #e6c6a6;
    border-radius: 10px;
    margin-bottom: 5px;
}


.profile-nickname {
    color: #5c4b37;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}


.profile-myinfo {
    display: flex;
    background-color: #f0d9b5;
    height: 100px;
    border-radius: 10px;
    justify-content: space-around;
    padding: 0 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}


.profile-point, .profile-friend, .profile-board {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5c4b37;
    font-size: 20px;
    font-weight: bold;
    padding: 0 90px;
}

.profile-board {
    border-left: 2px dashed #d1b897;
    border-right: 2px dashed #d1b897;
}
.chage-info{
    width: 100%;
    display: flex;
    justify-content: space-around;

}


.info-href{
    color: #5c4b37;
    text-decoration: none;
    font-size: 20px;
    padding: 8px;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;

}

.info-href:hover {
    color: #bf8364;
}


.note-look  p {
    color: #5c4b37;
    font-size: 18px;
    margin: 8px 0;
    line-height: 1.6;
    border-bottom: 1px dashed #e6c6a6;
    padding-bottom: 5px;
}

/* 프로필 캐릭터 박스 */
.charactor-box {
    width: 100px; /* 고정된 너비 */
    height: 100px; /* 고정된 높이 */
    background-color: #fff8e1;
    border: 3px solid #e6c6a6;
    border-radius: 10px;
    overflow: hidden; /* 컨테이너를 벗어나지 않도록 설정 */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

/* 프로필 이미지 스타일 */
.charactor-box img {
    width: 100%; /* 컨테이너에 맞춰 이미지 너비 조정 */
    height: 100%; /* 컨테이너에 맞춰 이미지 높이 조정 */
    object-fit: cover; /* 비율을 유지하면서 컨테이너에 맞게 자르기 */
    border-radius: 5px; /* 이미지에 약간의 라운드 효과 */
}
