
    <link href="css/classroom.css" rel="stylesheet">
    <h2>임시 채팅방</h2>

    <input type="text" id="message">
    <button onclick="send()">보내기</button>
    <div class="server">ㅎㅇㅇ</div>

    <div class="user-video">

    </div>

    <div class="remote-video">

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/classroom.js"></script>

