<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/payment/refuseReasonDetail.css"/>
    <title>환불 거부 사유 상세보기</title>
</head>
<body>
<h1>환불 거부 사유 상세보기</h1>
<p><strong>환불 거부 사유:</strong> {{refundRefuse.refundRefuseReason}}</p>
<p><strong>거부된 날짜:</strong> {{refundRefuse.createdAt}}</p>
<button onclick="window.close();">닫기</button>
</body>
</html>
