<div class="class-select">
<img src="" class="background"> {{!TODO 학교 배경화면}}
    <form action="http://localhost:8080/main/classroom" method="post">
    <select name="grade" id="grade-box">
        <option value="1">1학년</option>
        <option value="2">2학년</option>
        <option value="3">3학년</option>
    </select>
    <select name="class" id="class-box">
        <option value="1">1반</option>
        <option value="2">2반</option>
        <option value="3">3반</option>
        <option value="4">4반</option>
        <option value="5">5반</option>
        <option value="6">6반</option>
        <option value="7">7반</option>
        <option value="8">8반</option>
        <option value="9">9반</option>
        <option value="10">10반</option>
        <option value="11">11반</option>
        <option value="12">12반</option>
    </select>
    <button class="enter-btn">입장하기</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/school.js"></script>