<link rel="stylesheet" href="/css/schoolFind.css">
<div class="container">
    <h1>학교 정보 받아오기</h1>

    <select class="region-select">
        {{#schoolList}}
            <option value="{{regionCode}}">{{regionName}}</option>
        {{/schoolList}}
    </select>
    <input type="text" class="name" placeholder="학교 이름 입력">
    <button onclick="send()">전송</button>
    <br>

    <div class="list"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function send() {
        const region = $(".region-select").val();
        const name = $(".name").val();
        const list = $(".list");
        list.empty();

        fetch("/user/schoolData?region=" + region + "&name=" + name)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                data.forEach(school => {
                    // 학교 이름을 표시하고 클릭 가능한 옵션으로 만듭니다.
                    list.append(`<p class="school-option" data-id="${school.id}" data-region="${school.region}">${school.name}</p>`);
                });

                // .school-option 클릭 이벤트 핸들러 등록
                $(".school-option").on("click", function() {
                    const name = $(this).text();
                    const id = $(this).data("id");
                    const region = $(this).data("region");
                    // 부모 창의 특정 입력 필드에 값 전달
                    window.opener.setSchoolName(JSON.stringify({
                        name: name,
                        id: id,
                        region: region
                    }));
                    window.close(); // 창 닫기
                });
            });
    }

    
</script>