<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>친구와의 1대1 채팅방</title>
    <link rel="stylesheet" href="/css/chat/friendChat.css">
</head>
<body>
<main>
    <div class="screen-area">
        <div class="chat-room">
            <!-- 상대방 프로필 띄우는 공간 -->
            <div class="opponent-info">
                <img src="data:image/png;base64, {{profile}}">
                <span>{{opponent.nickname}}</span>
            </div>
            <!-- 대화 내용 띄우는 공간 -->
            <div class="chat-area" id="chat-area">
                <!-- 메시지들이 여기에 표시됨 -->
            </div>
            <!-- 키보드로 대화 내용 입력하는 공간 -->
            <div class="keyboard-area">
                <input type="text" id="content" name="content" placeholder="메시지 입력" autocomplete="off">
                <!-- 이모티콘 버튼 -->
                <button id="emojiButton" onclick="openEmoticonBox()">😊</button>
                <button class="btn" id="sendButton">전송</button>
                <!-- 이모티콘 박스 -->
                <div class="emoticon-box">
                    {{#emoticonList}}
                        <div class="emoticon" onclick="sendEmoticon('{{url}}')">
                            <img src="{{url}}" alt="Emoticon">
                        </div>
                    {{/emoticonList}}
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Mustache 템플릿에서 roomId 설정 -->
<script>
    // 즉시 실행 함수(IIFE)
    // IIFE: 정의와 동시에 실행되는 함수
    // JavaScript 코드가 전역 네임스페이스를 더럽히지 않도록 보호해주는 역할
    // global이라는 이름으로 전역 객체에 접근할 수 있음
    // global이라는 매개변수를 통해 window 객체가 전달
    (function(global) {
        // window.roomId를 전역 변수로 정의하고 여기에 roomKey의 값을 할당
        // global.roomId: 모든 JavaScript 코드에서 접근 가능한 전역 변수
        global.roomId = {{roomKey}};
        global.currentUserId = {{user.id}}
        global.friendId = {{opponent.id}}
    })(window);
    // (window): 함수 내부의 global은 window 객체를 참조하게 되며, window에 roomId와 currentUserId가 전역 변수로 추가
    // 즉, roomId와 currentUserId를 전역 변수로 설정하여 다른 JavaScript 코드에서도 접근 가능하게 하고, 콘솔에 이 두 값을 출력
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/chat/friendChat.js"></script>
</body>
</html>