<link rel="stylesheet" href="/css/voiceChatRoom.css">
<audio id="enterSound" src="/audio/enter.mp3"></audio>
<audio id="exitSound" src="/audio/exit.mp3"></audio>
<div class="background">
    <!-- 전체 컨테이너 -->
    <div class="container">
        <!-- 캠 영역 컨테이너 -->
        <div class="cam-area">
            <!-- 사용자 비디오 -->
            <div class="video-container user">
                <video class="user-video" autoplay playsinline></video>
                <div class="loading-indicator user-loading">● ● ●</div>
                <img src="" alt="User Profile" class="user-profile" style="display: none;">
            </div>

            <!-- 상대방 비디오 -->
            <div class="video-container remote">
                <video class="remote-video" autoplay playsinline></video>
                <div class="loading-indicator remote-loading">● ● ●</div>
                <img src="" alt="Remote Profile" class="remote-profile" style="display: none;">
            </div>
        </div>

        <!-- 하단 컨트롤 버튼 영역 -->
        <div class="controls">
            <button id="toggle-camera" onclick="toggleCamera()">📷 Camera</button>
            <button id="toggle-microphone" onclick="toggleMicrophone()">🎤 Mic</button>
            <button id="end-call" onclick="endCall()">통화 종료</button>
        </div>
    </div>
</div>

<script>
    (function(global) {
        global.friendId = {{friendId}}; // roomId 변수를 글로벌로 설정
        console.log("Current roomId:", global.friendId);
    })(window);
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/chat/voiceChat.js"></script>