{{>layout/header}}
<link rel="stylesheet" type="text/css" href="/css/main.css">
<main>

    <div class="screen-area">
    
    </div>
    <div class="remote-controller">
        <div class="profile">
            <img src=""> {{!유저 프로필이미지}}
        </div>
        <div class="nickname">
            유저 이름
        </div>
        <a href="/my-page/">
        <div class="bt-controller" id="">
            마이페이지
        </div>
        </a>
        <a href="">
        <div class="bt-controller" id="">
            등교하기
        </div>
        </a>
       {{!   <a href="/board/list"> }}
        <div class="bt-controller" id="post">
            게시판
        </div>
     {{!    </a> }}
        <div class="friend-box">
            
        </div>
    </div>

</main>
<script id="template" type="x-tmpl-mustache">
    <div class="content">
        {{{content}}}
    </div>
</script>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/screen.js"></script>
{{>layout/footer}}