{{>layout/header}}
<link rel="stylesheet" type="text/css" href="/css/main2.css">

<section class="content-box">
    <a href="/login">
        <span class="btn-login">입장하기</span>
    </a>
</section>

{{>layout/footer}}
