{{>layout/header}}
<link rel="stylesheet" type="text/css" href="/css/main.css">

<section class="content-box">
    <img src="/image/firstPage.png">
        
        <script>(function(global) {
            global.userId = {{principal.id}}; 
        })(window);</script>
        <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/js/screen.js"></script>
           <script src="/js/schoolPart.js"></script>

</section>

{{>layout/footer}}
