<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/chargePage.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>포인트 충전 화면</title>
    <script src="https://js.tosspayments.com/v2/standard"></script>

</head>
<body>
<h1>결제 방법</h1>
<h5>결제 방법을 선택해주세요</h5>
<!-- 결제 UI -->
<div id="payment-method" style="display: flex">
    <button id="CARD" class="button2" onclick="selectPaymentMethod('CARD')">카드</button>
    <button id="TRANSFER" class="button2" onclick="selectPaymentMethod('TRANSFER')">계좌이체</button>
    <button id="MOBILE_PHONE" class="button2" onclick="selectPaymentMethod('MOBILE_PHONE')">휴대폰</button>
</div>

<h1>포인트 충전</h1>
<section class="point-container">
    <span>포인트</span>
    <div class="point-list">
        <div class="point-box">
            <span id="point-1000">1,000 원</span>
            <button id="chargeButton-1000" onclick="requestPayment(1000)">충전하기</button>
        </div>
        <div class="point-box">
            <span id="point-3000">3,000 원</span>
            <button id="chargeButton-3000" onclick="requestPayment(3000)">충전하기</button>
        </div>
        <div class="point-box">
            <span id="point-5000">5,000 원</span>
            <button id="chargeButton-5000" onclick="requestPayment(5000)">충전하기</button>
        </div>
        <div class="point-box">
            <span id="point-10000">10,000 원</span>
            <button id="chargeButton-10000" onclick="requestPayment(10000)">충전하기</button>
        </div>
        <div class="point-box">
            <span id="point-30000">30,000 원</span>
            <button id="chargeButton-30000" onclick="requestPayment(30000)">충전하기</button>
        </div>
        <div class="point-box">
            <span id="point-50000">50,000 원</span>
            <button id="chargeButton-50000" onclick="requestPayment(50000)">충전하기</button>
        </div>
        <div class="point-box">
            <span id="point-100000">100,000 원</span>
            <button id="chargeButton-100000" onclick="requestPayment(100000)">충전하기</button>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/payment/payment.js"></script>
</body>
</html>