<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>환불 요청 내역</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>환불 요청 목록</h1>
<div>
    <div class="requestRefundList">
        <table>
            <thead>
            <tr>
                <th>결제 내역 번호</th>
                <th>주문 번호</th>
                <th>주문 이름</th>
                <th>환불 요청 금액</th>
                <th>환불 요청 사유</th>
                <th>환불 요청 시간</th>
                <th>환불 상태</th>
            </tr>
            </thead>
            <tbody id="refundList">
            {{#requestRefundList}}
                <tr>
                    <td>{{chargeHistoryId}}</td>
                    <td>{{orderId}}</td>
                    <td>{{orderName}}</td>
                    <td>{{cancelAmount}}</td>
                    <td>{{cancelReason}}</td>
                    <td>{{requestAt}}</td>
                    <td>{{cancelStatus}}</td>
                    <td>
                        {{#isRefundable}}
                            <button class="refundSuccess-btn" data-id="{{id}}" onclick="updateRefundSuccessButton({{id}}, {{chargeHistoryId}}, '{{cancelReason}}')">승인</button>
                            <button class="refundFail-btn" data-id="{{id}}" onclick="openRefuseWindow({{id}}, {{chargeHistoryId}}, '{{cancelReason}}')">반려</button>
                        {{/isRefundable}}
                        {{^isRefundable}}
                            <button class="refundSuccess-btn" disabled>승인 완료</button>
                            <button class="refundFail-btn" disabled>반려 완료</button>
                        {{/isRefundable}}
                    </td>
                </tr>
            {{/requestRefundList}}
            </tbody>
        </table>

        <div id="paginationContainer">
            <ul class="pagination">
                {{#showPrevious}}
                    <li class="page-item">
                        <a class="page-link" href="/pay/requestRefundList?page={{previousPage}}&size={{pageSize}}">&lt;</a>
                    </li>
                {{/showPrevious}}

                {{#pages}}
                    <li class="page-item {{active}}">
                        <a class="page-link" href="/pay/requestRefundList?page={{number}}&size={{pageSize}}">{{number}}</a>
                    </li>
                {{/pages}}

                {{#showNext}}
                    <li class="page-item">
                        <a class="page-link" href="/pay/requestRefundList?page={{nextPage}}&size={{pageSize}}">&gt;</a>
                    </li>
                {{/showNext}}
            </ul>
        </div>
    </div>
</div>

<script src="/js/payment/requestRefundList.js"></script>

</body>
</html>
