<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>비밀번호 확인</title>
    <link rel="stylesheet" type="text/css" href="/css/mypage/changePassword.css">
</head>
<body>
<form action="/my-page/pwdValid" method="get">
    <label for="password">기존 비밀번호:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">확인</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>