
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>amigo</title>
    <link rel="stylesheet" href="/css/login/schoolSelect.css">
    <link rel="stylesheet" href="/css/font/font.css">
</head>
<body>
<img src="">

<div class="selecter-container">

    <div class="selecter-box">
        <h2>활동 정보 추가</h2>
        <form action="/user/addInformation" method="post">
            <input type="text" id="nickname" name="nickname" placeholder="닉네임" required>

            
            <input type="text" id="elementarySchool" name="elementarySchool" placeholder="초등학교" required>

            

            <button type="submit" class="insert-btn">추가</button>
        </form>
    </div>

</div>
</body>
</html>